<!-- Begin:: Main Page -->
<h4 id="h4-title">My Profile</h4>
<div class="container-fluid mb-5">
  <div id="rows" class="rows">
    <div class="m-auto col-sm-8 brd">
      <form class="row">
        <div class="col-md-6">
          <!-- Input:: Name -->
          <div class="form-group">
            <input type="text" class="form-control" id="nameInput">
            <label class="control-label" for="nameInput">Name</label>
          </div>
          <!-- Input:: Gender -->
          <div class="form-group">
            <select class="form-control" id="genderSelect">
              <option selected></option>
              <option value="1">Select Gender</option>
            </select>
            <label class="control-label" for="genderSelect">Gender</label>
          </div>
          <!-- Input:: Job -->
          <div class="form-group">
            <input type="text" class="form-control" id="jobInput">
            <label class="control-label" for="jobInput">Job</label>
          </div>
          <!-- Input:: Experience -->
          <div class="form-group">
            <select class="form-control" id="experienceSelect">
              <option selected></option>
              <option value="1">Select Experience</option>
            </select>
            <label class="control-label" for="genderSelect">Experience</label>
          </div>
          <!-- Input:: Phone -->
          <div class="form-group">
            <input type="text" class="form-control" id="phoneInput">
            <label class="control-label" for="phoneInput">Phone</label>
          </div>
          <!-- Input:: Email -->
          <div class="form-group">
            <input type="e-mail" class="form-control" id="emailInput">
            <label class="control-label" for="emailInput">Email</label>
          </div>
          <!-- Input:: Website -->
          <div class="form-group">
            <input type="text" class="form-control" id="websiteInput">
            <label class="control-label" for="websiteInput">Website</label>
          </div>
          <!-- Input:: Facebook -->
          <div class="form-group">
            <input type="text" class="form-control" id="facebookInput">
            <label class="control-label" for="facebookInput">Facebook</label>
          </div>
          <!-- Input:: How Did You Know Us -->
          <div class="form-group">
            <select class="form-control" id="experienceSelect">
              <option selected></option>
              <option value="1">Select How Did You Know Us</option>
            </select>
            <label class="control-label" for="genderSelect">How Did You Know Us</label>
          </div>
          <!-- Input:: Biography -->
          <div class="form-group">
            <textarea class="form-control" id="aboutMeInput" aria-label="With textarea" rows="4"></textarea>
            <label class="control-labels" for="aboutMeInput">Biography</label>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Input:: Country -->
          <div class="form-group">
            <select class="form-control" id="countrySelect">
              <option selected></option>
              <option value="1">Select Country</option>
            </select>
            <label class="control-label" for="countrySelect">Country</label>
          </div>
          <!-- Input:: City -->
          <div class="form-group">
            <select class="form-control" id="citySelect">
              <option selected></option>
              <option value="1">Select City</option>
            </select>
            <label class="control-label" for="citySelect">City</label>
          </div>
          <!-- Input:: Area -->
          <div class="form-group">
            <select class="form-control" id="areaSelect">
              <option selected></option>
              <option value="1">Select Area</option>
            </select>
            <label class="control-label" for="areaSelect">Area</label>
          </div>
          <!-- Input:: Address -->
          <div class="form-group">
            <textarea class="form-control" id="addressInput" aria-label="With textarea" rows="3"></textarea>
            <label class="address-label" for="addressInput">Address</label>
          </div>
          <!-- Input:: Acc Type -->
          <div class="form-group">
            <select class="form-control" id="accTypeSelect">
              <option selected></option>
              <option value="1">type</option>
            </select>
            <label class="control-label" for="acctypeSelect">Acc Type</label>
          </div>
          <!-- Input:: Acc Category -->
          <div class="form-group">
            <select multiple class="form-control" id="accCategorySelect" rows="3">
              <option selected></option>
              <option value="1">Category 1</option>
              <option value="2">Category 2</option>
              <option value="3">Category 3</option>
              <option value="4">Category 4</option>
            </select>
            <label class="label-multiple" for="accCategorySelect">Acc Category</label>
          </div>
          <!-- Input:: Upload Photo -->
          <div class="form-group d-md-flex"
            style="background: rgba( 150, 196, 83, 0.1 ) !important; padding: 10px !important">
            <div class="media-left avatar">
              <img id="imgInput" alt="" src="assets/images/Person.png" class="media-object img-circle">
              <span class="status bg-success"></span>
            </div>
            <div class="btns">
              <button type="button" class="btn btn-primary pri-hvr" style="padding: 4px 12px;"> Add Photo </button>
              <button type="button" class="btn btn-danger" style="padding: 4px 12px;"> Remove Photo </button>
            </div>
            <!-- <label class="label-img-upl" for="imgInput">Add Photo</label> -->
          </div>
          <!-- Input:: Submit -->
          <div class="form-group">
            <button type="button" class="btn btn-primary"> Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End::   Main Page -->
