        /*
            *************************************************************************
            Project Colors **********************************************************
            *************************************************************************
                Finishing Companies::     color-1 {#F4393E}, {rgba(244, 57, 62, 1);}
                Designers & Contractors:: color-2 {#AE2269}, {rgba(174, 34, 105, 1);}
                Furniture Stores::        color-3 {#FECA46}, {rgba(254, 202, 70, 1);}
                Home Appliances::         color-4 {#96C453}, {rgba(150, 196, 83, 1);}
                Services & Fixers::       color-5 {#0F94A5}, {rgba(15, 148, 165, 1);} 
            *************************************************************************
        */

        @import url('https://fonts.googleapis.com/css?family=Raleway');
        @import url('https://fonts.googleapis.com/css?family=Cairo');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        /* font-family: 'Poppins', sans-serif; */
        
        * {
           box-sizing: border-box;
        }
        html,body{
            height: 100% !important;
        }
        body {
            // background: url('images/collection.svg');
            background-repeat: repeat;
            background-size: cover !important;
        }
        .logotitle {
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: white;
            margin: 0px 25px 0px 15px;
        }
        .container-fluid {
            min-height: 100% !important;
            padding: 0 !important;
            margin: 0 auto -296px !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: center !important;
            align-items: flex-start !important;
            background: url('/assets/images/collection.svg');
            background-repeat: repeat;
            background-size: cover !important;
        }
        .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(150, 196, 83, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        /* Begin:: Sidebar ********************************** */
        .sidebar {
            height: 100%;
            width: 48px;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
            background: #343a40;
            overflow-x: hidden;
            transition: 0.5s;
        }
        .sidebar a {
            width: 100%;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 300;
            padding: 10px 0px 10px 10px;
            text-decoration: none;
            color: #96C453 !important;
            display: block;
            transition: 0.3s;
        }
        .sidebar a:hover {
            color: #f1f1f1 !important;
        }
        .op-close {
            background-color: #212529 !important;
            height: 53px;
            display: flex;
            align-items: center;
        }
        .sidebar .closebtn {
            display: none;
            position: relative;
            top: 0px;
            right: 20px;
            font-size: 36px;
            width: 100% !important;
            padding: 0;
            text-align: right;
        }
        .sidebar .openbtn {
            position: relative;
            top: 0px;
        }
        .openbtn {
            cursor: pointer;
            padding: 7px !important;
            border: none;
            font-weight: 500;
            font-size: 30px !important;
        }
        .openbtn:hover {
          color: #96C453 !important;
        }
        .rows {
            width: 100% !important;
            font-size: 18px; 
            /*padding: 16px;*/
            margin-left: 48px;
            transition: margin-left .5s;
        }
        /* Hover Underline From Left ************************ */
        .hvr-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
            position: relative;
            overflow: hidden;
        }
        .hvr-left:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: #96C453 !important;/*here you control progress color like same color of link*/
            height: 2px;/*here you control progress thickness like set it to 4px*/
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        .hvr-left:hover:before,
        .hvr-left:focus:before,
        .hvr-left:active:before {
            right: 0;
        }
        .hvr-left:hover>svg g.svg-sidebar-item,
        .hvr-left:hover>svg path.svg-sidebar-item,
        .hvr-left:hover>svg circle.svg-sidebar-item,
        .hvr-left:hover>svg rect.svg-sidebar-item {
            fill: #FFFFFF !important;
        }
        .hvr-left:hover {
            right: 0;
            background-color: rgba(33, 37, 41, .2);
            padding-left: 10px;
            -webkit-transition-property: padding-left;
            transition-property: padding-left;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        .ulist {
            padding: 0px 10px 10px 38px;
        }
        .hvr-left {
            width: 100%;
            margin-bottom: 12px;
        }
        .fs-14 {
            font-size: 14px;
        }
        p.fs-14 {
            margin: 10px 0px;
        }
        .bottom-footer {
            padding: 10px;
            display: flex;
            justify-content: center; 
            align-items: center;
        }
        .input-group-text{
            min-width: 120px;
        }
        .upl-img {
            max-width: 80px;
            width: 80px;
            max-height: 80px;
            height: 80px;
            border: 2px solid rgb(150 196 83);
            border-radius: 50%;
            -webkit-box-shadow: rgb(150 196 83 / 80%) 0px 0 10px;
            // -moz-box-shadow: rgba(150 196 83,0.8) 0 0 10px;
            box-shadow: rgb(150 196 83 / 80%) 0 0 10px;
        }
        .btn-imag {
            width: 100%;
            color: #343a40 !important;
            background-color: #96C453 !important;
            border: 1px solid #96C453 !important;
            border-radius: 5px;
            padding: 5px 0px;
            font-size: 14px;
            font-weight: 600;
        }
        .btn-secondary {
            background-color: #96C453 !important;
            border-color: #96C453 !important;
            width: 144px;
            font-weight: 600;
        }
        /* Hover Underline From Left ************************ */
        /* End::   Sidebar ********************************** */
        i {
            font-size:30px;
            vertical-align:middle;
        } 
        i + span {
            font-family: 'Poppins', sans-serif;
            margin-left:10px;
            font-size: 14px !important;
        }
        .f-lex {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        a.f-lex{
            color: #737373 !important;
            padding: 5px 0 10px 0;
        }
        a:hover.f-lex {
            color: #96C453 !important; 
            font-weight: 600 !important;
            text-shadow: none !important;
            background: rgba(52, 58, 64, 1); 
        }
        .shadows {
            border-radius: 5px;
            -webkit-box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
            -moz-box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
            box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
        }   
        h5.card-title {
            font-weight: 500;
            color: #737373;
            border-bottom: 1px solid #e6e6e6;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        h5.card-title {
            background: none;
            color: #96C453 !important;
            text-align: right;
            text-shadow: none;
            font-weight: 500;
            letter-spacing: .25px;
            padding-top: 0;
        }

        h5.card-title.color-1 {color: #AA1F66; font-family: 'Cairo', sans-serif !important; border-bottom: 1px solid #AA1F66 !important;}
        h5.card-title.color-2 {color: #F3383D; font-family: 'Cairo', sans-serif !important; border-bottom: 1px solid #F3383D !important;}
        h5.card-title.color-3 {color: #FCCA3E; font-family: 'Cairo', sans-serif !important; border-bottom: 1px solid #FCCA3E !important;}
        h5.card-title.color-4 {color: #95C74D; font-family: 'Cairo', sans-serif !important; border-bottom: 1px solid #95C74D !important;}
        h5.card-title.color-5 {color: #0092A3; font-family: 'Cairo', sans-serif !important; border-bottom: 1px solid #0092A3 !important;}

        .color-1 {color: #AA1F66; font-family: 'Cairo', sans-serif !important;}
        .color-2 {color: #F3383D; font-family: 'Cairo', sans-serif !important;}
        .color-3 {color: #FCCA3E; font-family: 'Cairo', sans-serif !important;}
        .color-4 {color: #95C74D; font-family: 'Cairo', sans-serif !important;}
        .color-5 {color: #0092A3; font-family: 'Cairo', sans-serif !important;}

        nav.navbar.navbar-expand-lg.navbar-light.bg-light {
            font-family: 'Poppins', sans-serif !important;
            font-size: 14px;
            font-weight: 300;
            padding: 8px 16px 8px 14px;
            box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
            z-index: 1040;
        }
        li.nav-item.dropdown {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        footer.footer {
            font-family: 'Poppins', sans-serif !important;
            font-size: 14px;
            font-weight: 300;
            padding: 0;
            width: 100%;
            /* height: 128px !important; */
            margin-top: 350px;
            /* background: unset !important; */
        }
        footer .row .col-lg-12 {
            display: flex !important;
        }
        .copyright {
            /* color: #343a40; */
            color: #96C453;
            /* background: rgba(150, 196, 83, 0.2) !important; */
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            letter-spacing: 0.45px;
        }
        .help {
            color: #96C453;
            /* background: rgba(150, 196, 83, 0.2) !important; */
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            letter-spacing: 0.45px;
        }
        .get-connected {
            color: #96C453;
            background: rgba(150, 196, 83, 0.3) !important;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .col-sm-8,
        .col-sm-12 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 12px;
        }
        .row.row-flex {
            width: 100%;
            margin: 10px 0 30px 0;
            /* direction: rtl; */
        }
        h4 {
            /* font-family: 'Cairo', sans-serif !important; */
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            padding: 14px 0;
            color: #FFFFFF;
            background-color: #96C453 !important;
            border-bottom: 1px solid rgb(157 193 93 / 50%);
            box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
            backface-visibility: hidden!important;
            margin-left: 40px;
            transition: margin-left .5s;
        }
        h5 {
            width: 100%;
            font-family: 'Poppins', sans-serif !important;
            font-weight: 400;
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;
            color: rgb(157 193 93 / 50%);
            border-bottom: 1px solid rgb(157 193 93 / 50%);
            background-color: #343a40;
            color: #96C453 !important;
            margin-bottom: 30px;
        }
        .brd {
            margin-top: 0px;
            padding-top: 30px;
        }
        .img-thumbnail {
            padding: 0.25rem;
            border-radius: 0.25rem;
            max-width: 100%;
            height: auto;
        }
        .form-check {
            text-align: right;
        }
        label.form-check-label {
            padding: 0 30px 0 0;
        }
        form {
            font-family: 'Poppins', sans-serif;
			font-size: 14px;
			width: 100%;
			padding: 20px;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* border: 1px solid rgba(0,0,0,.125); */
			border-radius: 4px;
			box-shadow: 0 8px 10px 0 rgb(52 58 64 / 37%);
			-webkit-backdrop-filter: blur( 4px );
			-moz-backdrop-filter: blur( 4px );
			-ms-backdrop-filter: blur( 4px );
			-o-backdrop-filter: blur( 4px );
			backdrop-filter: blur( 4px );
			background: rgba( 150, 196, 83, 0.1 ) !important;
        }
		
		.offset-lg-4.offset-md-4.col-sm-4 {
			padding: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
        /* Force element state */
        form .btn.btn-primary, form .btn.btn-primary:active, form .btn.btn-primary:focus,
        form .btn.btn-primary:focus-within, form .btn.btn-primary:target, form .btn.btn-primary:hover,
        form .btn.btn-primary:visited, form .btn.btn-primary:focus-visible {
            font-family: 'Poppins', sans-serif !important;
			font-size: 14px;
			font-weight: 300;
			color: #fff;
			background-image: none;
			background-color: #96C453;
			border: 1px solid transparent;
			border-color: #96C453;
			border-radius: 100px!important;
			padding: 7px 12px;
			text-align: center;
			width: 100%;
        }
        .form-group {
            width: 100% !important;
            position: relative;
            margin-bottom: 40px;
        }
        .form-group label.control-label {
            margin: 0px !important;
            position: absolute;
            top: 35px;
            transition: all 0.3s ease;
			font-size: 13px;
			font-weight: 300;
        }
        input[type="text"], 
        input[type="email"], 
        input[type="password"] {
            text-align: left;
            font-size: 14px;
            font-weight: 300;
            border: 0px;
            border-bottom: 1px solid #eee;
            border-radius: 0px;
			background: rgba( 150, 196, 83, 0.1 ) !important;
        }
        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
        select:focus, input:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 0px !important;
            /* border-bottom: 1px solid #9dc15b !important; */
            border-bottom: 1px solid #96C453 !important;
            outline-width: 0 !important;
            font-weight: 300;
            /* color: #9dc15b !important; */
            color: #96C453 !important;
        }
        .form-group input, .form-group select, .form-group textarea {
            transition: all 0.3s ease;
        }
        .form-group input[type="text"]:focus + label.control-label, 
        .form-group input[type="email"]:focus + label.control-label, 
        .form-group input[type="password"]:focus + label.control-label, 
        .form-group select:focus + label.control-label, 
        .form-group textarea:focus + label.control-label {
            /* color: #9dc15b !important; */
            color: #96C453 !important;
            position: absolute;
            top: -14px;
            transition: all 0.3s ease;
        }
		
        /* Force element state */
        a.btn.btn-primary, a.btn.btn-primary:active, a.btn.btn-primary:focus,
        a.btn.btn-primary:focus-within, a.btn.btn-primary:target, a.btn.btn-primary:hover,
        a.btn.btn-primary:visited, a.btn.btn-primary:focus-visible {
            font-family: 'Cairo', sans-serif !important;
            border-radius: 19px;
            color: #fff !important;
            background: #96C453;
            border: none;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
        }
        a.btn.btn-color-1, a.btn.btn-color-1:active, a.btn.btn-color-1:focus,
        a.btn.btn-color-1:focus-within, a.btn.btn-color-1:target, a.btn.btn-color-1:hover,
        a.btn.btn-color-1:visited, a.btn.btn-color-1:focus-visible {
            font-family: 'Cairo', sans-serif !important;
            border-radius: 19px;
            color: #fff !important;
            background: #AA1F66;
            border: none;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
        }
        a.btn.btn-color-2, a.btn.btn-color-2:active, a.btn.btn-color-2:focus,
        a.btn.btn-color-2:focus-within, a.btn.btn-color-2:target, a.btn.btn-color-2:hover,
        a.btn.btn-color-2:visited, a.btn.btn-color-2:focus-visible {
            font-family: 'Cairo', sans-serif !important;
            border-radius: 19px;
            color: #fff !important;
            background: #F3383D;
            border: none;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
        }
        a.btn.btn-color-3, a.btn.btn-color-3:active, a.btn.btn-color-3:focus,
        a.btn.btn-color-3:focus-within, a.btn.btn-color-3:target, a.btn.btn-color-3:hover,
        a.btn.btn-color-3:visited, a.btn.btn-color-3:focus-visible {
            font-family: 'Cairo', sans-serif !important;
            border-radius: 19px;
            color: #fff !important;
            background: #FCCA3E;
            border: none;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
        }
        a.btn.btn-color-4, a.btn.btn-color-4:active, a.btn.btn-color-4:focus,
        a.btn.btn-color-4:focus-within, a.btn.btn-color-4:target, a.btn.btn-color-4:hover,
        a.btn.btn-color-4:visited, a.btn.btn-color-4:focus-visible {
            font-family: 'Cairo', sans-serif !important;
            border-radius: 19px;
            color: #fff !important;
            background: #95C74D;
            border: none;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
        }
        a.btn.btn-color-5, a.btn.btn-color-5:active, a.btn.btn-color-5:focus,
        a.btn.btn-color-5:focus-within, a.btn.btn-color-5:target, a.btn.btn-color-5:hover,
        a.btn.btn-color-5:visited, a.btn.btn-color-5:focus-visible {
            font-family: 'Cairo', sans-serif !important;
            border-radius: 19px;
            color: #fff !important;
            background: #0092A3;
            border: none;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
        }

        form select.form-control{
            font-size: 14px !important;
            line-height: 21px !important;
            padding: 3px 12px;
        }
        .radios {
            display: flex;
        }
        .form-check {
            padding-left: 0;
        }
        .col-sm-1 {
            padding: 0 !important;
        }
        .card {
            width: 100%;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 4px;
            box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
            margin-bottom: 40px;

            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .card-header {
            font-family: 'Cairo', sans-serif !important;
            padding: 8px 20px;
            margin-bottom: 0;
            background-color: #343a40;
            border: 1px solid #343a40;
            border-top-right-radius: 10px !important;
            border-top-left-radius: 10px !important;

            color: #fff;
            text-align: left;
            text-shadow: none !important;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
        /* //////////////////////////////// */
        .card-header.color-1 {background: rgba(170, 31, 102, 0.8); border: 1px solid rgba(170, 31, 102, 0.1) !important;}
        .card-header.color-2 {background: rgba(243, 56, 61, 0.8); border: 1px solid rgba(243, 56, 61, 0.1) !important;}
        .card-header.color-3 {background: rgba(252, 202, 62, 0.8); border: 1px solid rgba(252, 202, 62, 0.1) !important;}
        .card-header.color-4 {background: rgba(149, 199, 77, 0.8); border: 1px solid rgba(149, 199, 77, 0.1) !important;}
        .card-header.color-5 {background: rgba(0, 146, 163, 0.8); border: 1px solid rgba(0, 146, 163, 0.1) !important;} 
        /* //////////////////////////////// */
        .card-body {
            display: flex;
            padding: 20px 0px;
            text-align: right;
        }
        p.card-text {
            font-family: 'Cairo', sans-serif !important;
            color: #9a9a9a;
            font-size: 15px;
            direction: rtl;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }
        .nav-pagination{
            box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
        }
        ul.pagination {padding: 0;}
        .pagination>li {
            border: unset;
            border-radius: 2px !important;
            background: transparent !important;
            margin-top: 0px !important;
        }
        .pagination>li>a {
            font-weight: 500;
            color: #96C453 !important;
            /* background: rgba(150, 196, 83, 0.8) !important; */
            background: #fff !important;
            border: 1px solid #96C453;
        }
        .pagination>li>a:hover,
        .pagination>li>a:hover span {
            background: #96C453 !important;
            color: #fff !important;
        }
        a.page-link span{
            color: #96C453 !important;
        }
        .dtopiatitle {
            font-size: 16px;
            color: white;
            font-weight: 500;
            margin: 0px 9px;
        }
        label.title {
            width: 131px;
            font-size: 14px;
            border-left: 1px solid #9a9a9a;
            margin-left: 5px;
        }
        label.val {
            font-size: 14px;
        }
        .navbar-light .navbar-nav .show > .nav-link,
        .navbar-light .navbar-nav .active > .nav-link,
        .navbar-light .navbar-nav .nav-link.show,
        .navbar-light .navbar-nav .nav-link.active,
        .nav-link {
            color: #96C453 !important;
        }
        .navbar-light .navbar-nav .nav-link {
            color: rgba(150, 196, 83, 0.5) !important;
        }
        .navbar-light .navbar-nav .active > .nav-link,
        .navbar-light .navbar-nav .nav-link:hover,
        a.nav-link:hover {
            color: #96C453 !important;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            right: 0;
            left: unset;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: rgba(150, 196, 83, 0.5);
            text-align: left;
            list-style: none;
            background-color: #343a40;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
        }

        .dropdown-item {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #96C453 !important;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }

        .dropdown-item:hover {
            color: #96C453 !important;
            background-color: #343a40;
        }

        .dropdown-divider {
            height: 0;
            margin: 0.5rem 0;
            overflow: hidden;
            border-top: 1px solid #96C453;
        }
        .Indiv {
            background: #fff;
            box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border: unset;
            border-radius: 10px;
        }
        textarea {
            resize: none;
        }
        .form-control {
            text-align: left;
        }
        /* Begin:: Table *******************************/
        .col-sm-12 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding-top: 12px;
            padding: 30px;
        }
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
        .table {
            width: 100%;
            color: #212529;
            background: rgba(255, 255, 255, .5);
            border-collapse: collapse;
            border: 1px solid #dee2e6;
            font-family: "Poppins",sans-serif;
            font-size: 14px;
            font-weight: 300;
            /* margin: auto; */
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        table.table thead th {
            border-top: 0;
            font-weight: 500;
        }
        .table th, .table td {
            padding: 17.6px 12px 16px 12px;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        button.btn.btn-primary {
            font-family: "Poppins",sans-serif;
            font-size: 14px;
            font-weight: 300;
            background: #96C453 !important;
            border: 1px solid #96C453 !important;
            margin: 0px 0px 35px 0px !important;
        }
        /* End:: Table *********************************/
        /* Begin:: Pulse Ring***************************/
        .pulse-ring {
            display: block;
            border-radius: 40px;
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0;
            left: 5px;
            -webkit-animation: animation-pulse 3.5s ease-out;
            animation: animation-pulse 3.5s ease-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            opacity: 0px;
            border-width: 3px;
            border-style: solid;
            border-color: #E4E6EF;
            border-color: rgba(150, 196, 83, 0.75);
        }
        .pulse-ring-close-side-nav {
            display: block;
            border-radius: 40px;
            height: 40px;
            width: 40px;
            position: absolute;
            top: 9px;
            right: -8px;
            -webkit-animation: animation-pulse 3.5s ease-out;
            animation: animation-pulse 3.5s ease-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            opacity: 0;
            border-width: 3px;
            border-style: solid;
            border-color: #E4E6EF;
            border-color: rgba(150, 196, 83, 0.75);
        }
        .pulse-ring-open-side-nav {
            display: block;
            border-radius: 40px;
            height: 40px;
            width: 40px;
            position: absolute;
            top: 13px;
            left: -2px;
            -webkit-animation: animation-pulse 3.5s ease-out;
            animation: animation-pulse 3.5s ease-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            opacity: 0;
            border-width: 3px;
            border-style: solid;
            border-color: #E4E6EF;
            border-color: rgba(150, 196, 83, 0.75);
        }
        @-webkit-keyframes animation-pulse {
            0% { -webkit-transform: scale(0.1, 0.1); opacity: 0; }
            60% { -webkit-transform: scale(0.1, 0.1); opacity: 0; }
            65% { opacity: 1; }
            100% { -webkit-transform: scale(1.2, 1.2); opacity: 0; }
        }

        @keyframes animation-pulse {
            0% { -webkit-transform: scale(0.1, 0.1); opacity: 0; }
            60% { -webkit-transform: scale(0.1, 0.1); opacity: 0; }
            65% { opacity: 1; }
            100% { -webkit-transform: scale(1.2, 1.2); opacity: 0; }
        }
        /* End::   Pulse Ring***************************/
        @media (max-width: 992px){
            .container-fluid {
                margin-bottom: 50px;
            }
            footer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 12px;
                /* height: 230px !important; */
            }
            footer div.row,
            footer div.row.copyright,
            footer div.row.get-connected,
            footer div.row.help {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
            .copyright,
            .get-connected,
            .help {
                width: 100%;
            }
        }
        @media (max-width:767px) {
            form{
                display: unset !important;
            }
            .col-sm-1, .col-sm-2, .col-sm-3,
            .col-sm-4, .col-sm-5, .col-sm-6,
            .col-sm-7, .col-sm-8, .col-sm-9,
            .col-sm-10, .col-sm-11, .col-sm-12 {
                padding: 0 12px !important;
            }
        }
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

        .paging > li {
            background-color: #343a40;
            border-radius: 5px !important;
            width: 85px;
            line-height: 50px;
            margin-right: auto;
            text-align: center;
            display: inline-block;
            // border: 1px solid #9dc15b;
          }
          
          table {
            width: 100%;
          }
          
          .mat-form-field {
            font-size: 14px;
            width: 100%;
          }
          
          .mat-column-address {
            width: 100px;
          }
          
          .mat-column-area {
            width: 70px;
          }
          
          .mat-column-floor {
            width: 70px;
          }
          
          .mat-column-Display {
            width: 30px;
          }
          
          .mat-column-Edit {
            width: 30px;
          }
          
          .mat-column-Delete {
            width: 30px;
          }
          
          .mat-column-DeleteSpace {
            width: 30px;
          }
          
          .mat-header-cell {
            // flex-direction: column;
            font-weight: bold;
            font-size: medium;
            text-align: center;
            justify-content: center;
          }
          
          .mat-cell {
            text-align: center !important;
            justify-content: center !important;
          }
          