<!-- <div class="dropdown general-dropdown dropdown-theme">
    <button class="btn dropdown-toggle bg-transparent p-0 border-0 px-3" type="button" id="dropdownTheme"
      data-bs-toggle="dropdown" aria-expanded="false">
      <ng-container *ngIf="currentTheme=='light'; else darkMode">
        <i class="fa fa-sun scaleX-rtl text-white-color"></i>
      </ng-container>
      <ng-template #darkMode>
        <i class="fa fa-moon scaleX-rtl text-white-color"></i>
      </ng-template>
  
    </button>
    <ul class="dropdown-menu dropdown-menu-right box-shadow-dropdown border-0 p-2" aria-labelledby="dropdownTheme">
      <li class="nav-item">
        <a class="nav-link" (click)="color('#1071B8')">
          <span class="d-flex align-items-center gap-2">
            <i class="fa fa-rotate scaleX-rtl"></i>
            default
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="light()">
          <span class="d-flex align-items-center gap-2">
            <i class="fa fa-sun scaleX-rtl"></i>
            light
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="dark()">
          <span class="d-flex align-items-center gap-2">
            <i class="fa fa-moon scaleX-rtl"></i>
            dark
          </span>
        </a>
      </li>
      <hr class="m-0 mt-2">
      <div class="d-flex align-items-center justify-content-around colors p-3">
        <span class="color rounded-circle d-inline-block bg-main-color" (click)="color('#fe3301')"></span>
        <span class="color rounded-circle d-inline-block bg-secondary-color" (click)="color('#FF375E')"></span>
        <span class="color rounded-circle d-inline-block bg-warning" (click)="color('#ffc107')"></span>
        <span class="color rounded-circle d-inline-block bg-success" (click)="color('#198754')"></span>
        <span class="color rounded-circle d-inline-block bg-info" (click)="color('#0dcaf0')"></span>
      </div>
    </ul>
  </div>
   -->