.fs-14 {
  font-size: 14px;
}
p.fs-14 {
  margin: 10px 0px;
}
.bottom-footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group-text {
  min-width: 120px;
}
.upl-img {
  max-width: 80px;
  width: 80px;
  max-height: 80px;
  height: 80px;
  border: 2px solid rgb(150 196 83);
  border-radius: 50%;
  -webkit-box-shadow: rgb(150 196 83 / 80%) 0px 0 10px;
  // -moz-box-shadow: rgba(150 196 83, 0.8) 0 0 10px;
  box-shadow: rgb(150 196 83 / 80%) 0 0 10px;
}
.btn-imag {
  width: 100%;
  color: #343a40 !important;
  background-color: #96c453 !important;
  border: 1px solid #96c453 !important;
  border-radius: 5px;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 600;
}
.btn-secondary {
  background-color: #96c453 !important;
  border-color: #96c453 !important;
  width: 144px;
  font-weight: 600;
}
/* Hover Underline From Left ************************ */
/* End::   Sidebar ********************************** */
i {
  font-size: 30px;
  vertical-align: middle;
}
i + span {
  font-family: "Cairo", sans-serif;
  margin-left: 10px;
  font-size: 14px !important;
}
.f-lex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a.f-lex {
  color: #737373 !important;
  padding: 5px 0 10px 0;
}
a:hover.f-lex {
  color: #96c453 !important;
  font-weight: 600 !important;
  text-shadow: none !important;
  background: rgba(52, 58, 64, 1);
}
.shadows {
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
  -moz-box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
  box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
}
h5.card-title {
  font-weight: 500;
  color: #737373;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 12px;
  padding-bottom: 12px;
}
h5.card-title {
  background: none;
  color: #96c453 !important;
  text-align: right;
  text-shadow: none;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding-top: 0;
}

h5.card-title.color-1 {
  color: #aa1f66;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #aa1f66 !important;
}
h5.card-title.color-2 {
  color: #f3383d;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #f3383d !important;
}
h5.card-title.color-3 {
  color: #fcca3e;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #fcca3e !important;
}
h5.card-title.color-4 {
  color: #95c74d;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #95c74d !important;
}
h5.card-title.color-5 {
  color: #0092a3;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #0092a3 !important;
}

.color-1 {
  color: #aa1f66;
  font-family: "Cairo", sans-serif !important;
}
.color-2 {
  color: #f3383d;
  font-family: "Cairo", sans-serif !important;
}
.color-3 {
  color: #fcca3e;
  font-family: "Cairo", sans-serif !important;
}
.color-4 {
  color: #95c74d;
  font-family: "Cairo", sans-serif !important;
}
.color-5 {
  color: #0092a3;
  font-family: "Cairo", sans-serif !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 16px 8px 14px;
  box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
  z-index: 1040;
}
li.nav-item.dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.col-sm-8,
.col-sm-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
}
.row.row-flex {
  width: 100%;
  margin: 10px 0 30px 0;
  /* direction: rtl; */
}
h4 {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 14px 0;
  color: #ffffff;
  background-color: #96c453 !important;
  border-bottom: 1px solid rgb(157 193 93 / 50%);
  box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
  backface-visibility: hidden !important;
  // margin-left: 40px;
  // transition: margin-left 0.5s;
}
h5 {
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgb(157 193 93 / 50%);
  border-bottom: 1px solid rgb(157 193 93 / 50%);
  background-color: #343a40;
  color: #96c453 !important;
  margin-bottom: 30px;
}
.brd {
  margin-top: 0px;
  padding-top: 30px;
}
.img-thumbnail {
  padding: 0.25rem;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.form-check {
  text-align: right;
}
label.form-check-label {
  padding: 0 30px 0 0;
}
.row.row-flex form {
  font-family: "Cairo", sans-serif !important;
  font-size: 14px;
  width: 100%;
  padding: 15px 15px 30px;
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: 4px;
  box-shadow: 0 8px 10px 0 rgb(52 58 64 / 37%);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(150, 196, 83, 0.1) !important;
}

/* Force element state */
form .btn.btn-primary,
form .btn.btn-primary:active,
form .btn.btn-primary:focus,
form .btn.btn-primary:focus-within,
form .btn.btn-primary:target,
form .btn.btn-primary:hover,
form .btn.btn-primary:visited,
form .btn.btn-primary:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: #96c453 !important;
  border-color: #96c453 !important;
  padding: 5px 12px;
  width: 100%;
  margin-bottom: 0px;
}
form .btn.btn-danger,
form .btn.btn-danger:active,
form .btn.btn-danger:focus,
form .btn.btn-danger:focus-within,
form .btn.btn-danger:target,
form .btn.btn-danger:hover,
form .btn.btn-danger:visited,
form .btn.btn-danger:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: rgba(243, 56, 61, 0.8);
  border-color: rgba(243, 56, 61, 0.8);
  padding: 5px 12px;
  width: 100%;
  margin-bottom: 0px;
}
form .row {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* Force element state */
a.btn.btn-primary,
a.btn.btn-primary:active,
a.btn.btn-primary:focus,
a.btn.btn-primary:focus-within,
a.btn.btn-primary:target,
a.btn.btn-primary:hover,
a.btn.btn-primary:visited,
a.btn.btn-primary:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border-radius: 19px;
  color: #fff !important;
  background: #96c453 !important;
  border: none;
  box-shadow: none;
}
a.btn.btn-danger,
a.btn.btn-danger:active,
a.btn.btn-danger:focus,
a.btn.btn-danger:focus-within,
a.btn.btn-danger:target,
a.btn.btn-danger:hover,
a.btn.btn-danger:visited,
a.btn.btn-danger:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border-radius: 19px;
  color: #fff !important;
  background: rgba(243, 56, 61, 0.8);
  border: none;
  box-shadow: none;
}
a.btn.btn-color-1,
a.btn.btn-color-1:active,
a.btn.btn-color-1:focus,
a.btn.btn-color-1:focus-within,
a.btn.btn-color-1:target,
a.btn.btn-color-1:hover,
a.btn.btn-color-1:visited,
a.btn.btn-color-1:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border-radius: 19px;
  color: #fff !important;
  background: #aa1f66;
  border: none;
  box-shadow: none;
}
a.btn.btn-color-2,
a.btn.btn-color-2:active,
a.btn.btn-color-2:focus,
a.btn.btn-color-2:focus-within,
a.btn.btn-color-2:target,
a.btn.btn-color-2:hover,
a.btn.btn-color-2:visited,
a.btn.btn-color-2:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border-radius: 19px;
  color: #fff !important;
  background: #f3383d;
  border: none;
  box-shadow: none;
}
a.btn.btn-color-3,
a.btn.btn-color-3:active,
a.btn.btn-color-3:focus,
a.btn.btn-color-3:focus-within,
a.btn.btn-color-3:target,
a.btn.btn-color-3:hover,
a.btn.btn-color-3:visited,
a.btn.btn-color-3:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  border-radius: 19px;
  color: #fff !important;
  background: #fcca3e;
  border: none;
  box-shadow: none;
}
a.btn.btn-color-4,
a.btn.btn-color-4:active,
a.btn.btn-color-4:focus,
a.btn.btn-color-4:focus-within,
a.btn.btn-color-4:target,
a.btn.btn-color-4:hover,
a.btn.btn-color-4:visited,
a.btn.btn-color-4:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border-radius: 19px;
  color: #fff !important;
  background: #95c74d;
  border: none;
  box-shadow: none;
}
a.btn.btn-color-5,
a.btn.btn-color-5:active,
a.btn.btn-color-5:focus,
a.btn.btn-color-5:focus-within,
a.btn.btn-color-5:target,
a.btn.btn-color-5:hover,
a.btn.btn-color-5:visited,
a.btn.btn-color-5:focus-visible {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  border-radius: 19px;
  color: #fff !important;
  background: #0092a3;
  border: none;
  box-shadow: none;
}

form select.form-control {
  font-size: 14px !important;
  line-height: 21px !important;
  padding: 3px 12px;
}
.radios {
  display: flex;
}
.form-check {
  padding-left: 0;
}
.col-sm-1 {
  padding: 0 !important;
}
.card {
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
  margin-bottom: 40px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-header {
  font-family: "Cairo", sans-serif !important;
  padding: 8px 20px;
  margin-bottom: 0;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;

  color: #fff;
  text-align: left;
  text-shadow: none !important;
  font-weight: 500;
  display: flex;
  align-items: center;
}
/* //////////////////////////////// */
.card-header.color-1 {
  background: rgba(170, 31, 102, 0.8);
  border: 1px solid rgba(170, 31, 102, 0.1) !important;
}
.card-header.color-2 {
  background: rgba(243, 56, 61, 0.8);
  border: 1px solid rgba(243, 56, 61, 0.1) !important;
}
.card-header.color-3 {
  background: rgba(252, 202, 62, 0.8);
  border: 1px solid rgba(252, 202, 62, 0.1) !important;
}
.card-header.color-4 {
  background: rgba(149, 199, 77, 0.8);
  border: 1px solid rgba(149, 199, 77, 0.1) !important;
}
.card-header.color-5 {
  background: rgba(0, 146, 163, 0.8);
  border: 1px solid rgba(0, 146, 163, 0.1) !important;
}
/* //////////////////////////////// */
.card-body {
  display: flex;
  padding: 20px 0px;
  text-align: right;
}
p.card-text {
  font-family: "Cairo", sans-serif !important;
  color: #9a9a9a;
  font-size: 15px;
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.nav-pagination {
  box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
}
ul.pagination {
  padding: 0;
}
.pagination > li {
  border: unset;
  border-radius: 2px !important;
  background: transparent !important;
  margin-top: 0px !important;
}
.pagination > li > a {
  font-weight: 500;
  color: #96c453 !important;
  /* background: rgba(150, 196, 83, 0.8) !important; */
  background: #fff !important;
  border: 1px solid #96c453 !important;
}
.pagination > li > a:hover,
.pagination > li > a:hover span {
  background: #96c453 !important;
  color: #fff !important;
}
a.page-link span {
  color: #96c453 !important;
}
.dtopiatitle {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin: 0px 9px;
}
label.title {
  width: 131px;
  font-size: 14px;
  border-left: 1px solid #9a9a9a;
  margin-left: 5px;
}
label.val {
  font-size: 14px;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.nav-link {
  color: #96c453 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(150, 196, 83, 0.5) !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
a.nav-link:hover {
  color: #96c453 !important;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: unset;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(150, 196, 83, 0.5);
  text-align: left;
  list-style: none;
  background-color: #343a40;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #96c453 !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  color: #96c453 !important;
  background-color: #343a40;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #96c453 !important;
}
.Indiv {
  background: #fff;
  box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: unset;
  border-radius: 10px;
}
textarea {
  resize: none;
}
.form-control {
  text-align: left;
}
div.form-group.row label {
  font-size: 12px !important;
}
/* Begin:: Widget ***************************/
.widget {
  margin-bottom: 24px;
  border: 1px solid #e6e6e6;
}
.widget-heading {
  padding: 15px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.widget-title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #1f364f;
}
.widget-body {
  padding: 15px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.col-xs-6 {
  position: relative;
  min-height: 1px;
  float: left;
  width: 50%;
}
.row:before {
  // display: table;
  // content: " ";
}
.row > [class^="col"] {
  padding-left: 12px;
  padding-right: 12px;
}
button {
  margin: 0;
  font: inherit;
  color: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn {
  outline: 0 !important;
  padding: 6px 15px;
  font-size: 14px;
}
.btn-sm {
  padding: 5px 12px;
  font-size: 12px;
}
.btn-primary {
  color: #fff;
  background-color: #0667d6;
  border-color: #0667d6;
}
.btn-outline.btn-primary {
  background-color: transparent;
  color: #0667d6;
  border-color: #0667d6;
}
