<!-- Begin:: Main Page -->
<h4 id="h4-title">Upload Your Video</h4>
<div class="container-fluid">
  <div id="rows" class="rows">
    <div class="m-auto col-sm-8 brd">
      <!-- <h5>Store Category</h5> -->
      <!-- <h5 id="Indiv" class="Indiv">My Profile</h5> -->
      <div class="row row-flex">
        <form class="row">
          <div class="col-lg-6 col-md-12">
            <!-- Begin:: widget -->
            <div class="widget">
              <!-- <div class="widget-heading">
                                  <h3 class="widget-title">Flippers</h3>
                                </div> -->
              <div class="widget-body">
                <div class="thumbnail">
                  <video width="" height="240" controls style="width: 100%;">
                    <source src="./images/pexels-rodnae-productions-8474604.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <div class="row btn-demo animation-demo">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-primary mb-sm-0 mb-2">Add
                      Video</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-danger">Remove Video</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <!-- Begin:: widget -->
            <div class="widget">
              <!-- <div class="widget-heading">
                                  <h3 class="widget-title">Flippers</h3>
                                </div> -->
              <div class="widget-body">
                <div class="thumbnail">
                  <video width="" height="240" controls style="width: 100%;">
                    <source src="./images/pexels-engin-akyurt-10358140.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <div class="row btn-demo animation-demo">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-primary mb-sm-0 mb-2">Add
                      Video</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-danger">Remove Video</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Input:: Submit -->
            <div class="form-group row">
              <div class="col-sm-12" style="padding: 0px;">
                <button type="button" class="btn btn-primary"> Save </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End::   Main Page -->