<footer class="footer dash" [ngClass]="getDashClass()">
  <div class="row get-connected">
    <span>Get connected with us:</span> <a href="https://www.facebook.com/Dtopiaeg"> <i
        class="fa fa-facebook-f fa-1x ml-4"></i> </a>
  </div>
  <div class="row help">
    <div class="col-lg-6 text-right">
      <span>Help: </span>
      <a href="#" class="fs-14">Info@Dtopia-eg.com</a>
    </div>
    <div class="col-lg-6 text-left">
      <span>Designed By: </span>
      <a href="#" class="fs-14">HashDotSoft</a>
    </div>
  </div>
  <div class="row copyright">
    © 2022, All Rights reserved
  </div>
</footer>