<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 vision-commercial-left">
     
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 col-sm-12 vision-main">
      <h2 class="text-center">Our-Vision</h2>
      <div class="mb-3">
        <i class="fas fa-circle mr-4"></i>
        <h4 class="d-inline" style="text-align: left">
          D-Topia Vision Statement “To be the first platform in finishing market
          in Egypt and The Middle East.
        </h4>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle mr-4"></i>
        <h4 class="d-inline">
          We aim to create an accessible specialized interactive network for
          anyone interested in finishing and
          <span style="margin-left: 43px"> decorations</span>.
        </h4>
      </div>
      <div class="mb-3">
        <i class="fas fa-circle mr-4"></i>
        <h4 class="d-inline">
          We ensure to meet all your demands online in the industry of interior
          design. We provide a variety of
          <span style="margin-left: 43px">
            the finest and cheapest choices!</span
          >
        </h4>
      </div>
      <br />
      <h2 class="text-center" style="text-align: left">D-topia Core Values</h2>
      <h4 style="text-align: center">
        Satisfactory - Optimal - User-friendly - Cheap - Up-to-date
      </h4>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2 vision-commercial-right">
    
    </div>
  </div>
</div>


