<footer class="footer">
  <div class="row get-connected">
      <span>Get connected with us:</span> <a href="https://www.facebook.com/Dtopiaeg"> <i class="fab fa-facebook-f fa-1x ml-4"></i> </a>
  </div>
  <div class="row help">
      <div class="col-lg-6 text-right">
          <span>Help: </span>
          <a href="#" class="fs-14">Info@Dtopia-eg.com</a>
      </div>
      <div class="col-lg-6 text-left">
          <span>Designed By: </span>
          <a href="#" class="fs-14">HashDotSoft</a>
      </div>
  </div>
  <div class="row copyright">
      © 2022, All Rights reserved
  </div>
</footer>




 <!-- <footer class="footer mt-auto py-3">
  <div class="row">
      <div class="row single-row">
          <div class="container">
              <span class="get-connected">Get connected with us: </span>
              <a href="#" target="_self" class="icon-facebook" title="Facebook" style="font-size: 14px !important;">
                  <span class="ti-facebook"></span>
              </a>
          </div>
      </div>
      <div class="container" style="padding: 0px;">
          <div class="col-sm-12">
              <div class="bottom clearfix">
                  <div class="col-sm-6">
                      <div class="copyright pull-left clearfix">
                          <a class="footer-brand" href="#">
                              <div class="dtopia_logo_footer">
                                  <img src="assets/images/D-Topia-3.svg" width="30px" height="30px" class="d-inline-block align-top" alt="">
                                  <svg version="1.1" class="trisvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" preserveAspectRatio="none" width="14px" height="5px" viewBox="0 0 14.017 5.006" enable-background="new 0 0 14.017 5.006" xml:space="preserve">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.016,0L7.008,5.006L0,0H14.016z"></path>
                                  </svg>
                              </div>
                              <span >D-TOPIA</span>
                          </a>
                          <p class="m-0">© 2022 All rights reserved.</p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <ul class="social-icons pull-right clearfix">
                          <li class="title">
                              <span class="get-connected">Designed By: </span>
                              <a href="#" target="_self" class="designed-by" title="Facebook" style="font-size: 13px !important; font-weight: 300 !important;">
                                  HashDotSoft
                              </a>
                          </li>
                          <li class="title">
                              <span class="get-connected">For Help: </span>
                              <a href="#" target="_self" class="icon-facebook" title="Facebook" style="font-size: 13px !important; font-weight: 300 !important;">
                                  Info@Dtopia-eg.com
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> -->



