i {
  font-size: 30px;
  vertical-align: middle;
}
i + span {
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  font-size: 14px !important;
}
.f-lex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a.f-lex {
  color: #737373 !important;
  padding: 5px 0 10px 0;
}
a:hover.f-lex {
  color: #96c453 !important;
  font-weight: 600 !important;
  text-shadow: none !important;
  background: rgba(52, 58, 64, 1);
}
.shadows {
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
  -moz-box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
  box-shadow: 0 15px 25px rgb(38 65 50 / 60%);
}
h5.card-title {
  font-weight: 500;
  color: #737373;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 12px;
  padding-bottom: 12px;
}
h5.card-title {
  background: none;
  color: #96c453 !important;
  text-align: right;
  text-shadow: none;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding-top: 0;
}

h5.card-title.color-1 {
  color: #aa1f66;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #aa1f66 !important;
}
h5.card-title.color-2 {
  color: #f3383d;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #f3383d !important;
}
h5.card-title.color-3 {
  color: #fcca3e;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #fcca3e !important;
}
h5.card-title.color-4 {
  color: #95c74d;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #95c74d !important;
}
h5.card-title.color-5 {
  color: #0092a3;
  font-family: "Cairo", sans-serif !important;
  border-bottom: 1px solid #0092a3 !important;
}

.color-1 {
  color: #aa1f66;
  font-family: "Cairo", sans-serif !important;
}
.color-2 {
  color: #f3383d;
  font-family: "Cairo", sans-serif !important;
}
.color-3 {
  color: #fcca3e;
  font-family: "Cairo", sans-serif !important;
}
.color-4 {
  color: #95c74d;
  font-family: "Cairo", sans-serif !important;
}
.color-5 {
  color: #0092a3;
  font-family: "Cairo", sans-serif !important;
}

.col-sm-8,
.col-sm-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
}
.row.row-flex {
  width: 100%;
  margin: 10px 0 30px 0;
  /* direction: rtl; */
}
h4 {
  /* font-family: 'Cairo', sans-serif !important; */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 14px 0;
  color: #ffffff;
  background-color: #96c453 !important;
  border-bottom: 1px solid rgb(157 193 93 / 50%);
  box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
  backface-visibility: hidden !important;
  // margin-left: 40px;
  // transition: margin-left 0.5s;
}
h5 {
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgb(157 193 93 / 50%);
  border-bottom: 1px solid rgb(157 193 93 / 50%);
  background-color: #343a40;
  color: #96c453 !important;
  margin-bottom: 30px;
}
.brd {
  margin-top: 0px;
  padding-top: 30px;
}
.img-thumbnail {
  padding: 0.25rem;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.form-check {
  text-align: right;
}
label.form-check-label {
  padding: 0 30px 0 0;
}
form {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: 4px;
  box-shadow: 0 8px 10px 0 rgb(52 58 64 / 37%);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(150, 196, 83, 0.1) !important;
}

.offset-lg-4.offset-md-4.col-sm-4 {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Force element state */
form .btn.btn-primary,
form .btn.btn-primary:active,
form .btn.btn-primary:focus,
form .btn.btn-primary:focus-within,
form .btn.btn-primary:target,
form .btn.btn-primary:hover,
form .btn.btn-primary:visited,
form .btn.btn-primary:focus-visible {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-image: none;
  background-color: #96c453;
  border: 1px solid transparent;
  border-color: #96c453;
  border-radius: 100px !important;
  padding: 7px 12px;
  text-align: center;
  width: 100%;
}
.form-group {
  width: 100% !important;
  position: relative;
  margin-bottom: 40px;
}
.form-group label.control-label {
  margin: 0px !important;
  position: absolute;
  top: 35px;
  transition: all 0.3s ease;
  font-size: 13px;
  font-weight: 300;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  border: 0px;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  background: rgba(150, 196, 83, 0.1) !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
select:focus,
input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0px !important;
  /* border-bottom: 1px solid #9dc15b !important; */
  border-bottom: 1px solid #96c453 !important;
  outline-width: 0 !important;
  font-weight: 300;
  /* color: #9dc15b !important; */
  color: #96c453 !important;
}
.form-group input,
.form-group select,
.form-group textarea {
  transition: all 0.3s ease;
}
.form-group input[type="text"]:focus + label.control-label,
.form-group input[type="email"]:focus + label.control-label,
.form-group input[type="password"]:focus + label.control-label,
.form-group select:focus + label.control-label,
.form-group textarea:focus + label.control-label {
  /* color: #9dc15b !important; */
  color: #96c453 !important;
  position: absolute;
  top: -14px;
  transition: all 0.3s ease;
}

/* Force element state */
a.btn.btn-primary,
a.btn.btn-primary:active,
a.btn.btn-primary:focus,
a.btn.btn-primary:focus-within,
a.btn.btn-primary:target,
a.btn.btn-primary:hover,
a.btn.btn-primary:visited,
a.btn.btn-primary:focus-visible {
  font-family: "Cairo", sans-serif !important;
  border-radius: 19px;
  color: #fff !important;
  background: #96c453;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}
a.btn.btn-color-1,
a.btn.btn-color-1:active,
a.btn.btn-color-1:focus,
a.btn.btn-color-1:focus-within,
a.btn.btn-color-1:target,
a.btn.btn-color-1:hover,
a.btn.btn-color-1:visited,
a.btn.btn-color-1:focus-visible {
  font-family: "Cairo", sans-serif !important;
  border-radius: 19px;
  color: #fff !important;
  background: #aa1f66;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}
a.btn.btn-color-2,
a.btn.btn-color-2:active,
a.btn.btn-color-2:focus,
a.btn.btn-color-2:focus-within,
a.btn.btn-color-2:target,
a.btn.btn-color-2:hover,
a.btn.btn-color-2:visited,
a.btn.btn-color-2:focus-visible {
  font-family: "Cairo", sans-serif !important;
  border-radius: 19px;
  color: #fff !important;
  background: #f3383d;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}
a.btn.btn-color-3,
a.btn.btn-color-3:active,
a.btn.btn-color-3:focus,
a.btn.btn-color-3:focus-within,
a.btn.btn-color-3:target,
a.btn.btn-color-3:hover,
a.btn.btn-color-3:visited,
a.btn.btn-color-3:focus-visible {
  font-family: "Cairo", sans-serif !important;
  border-radius: 19px;
  color: #fff !important;
  background: #fcca3e;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}
a.btn.btn-color-4,
a.btn.btn-color-4:active,
a.btn.btn-color-4:focus,
a.btn.btn-color-4:focus-within,
a.btn.btn-color-4:target,
a.btn.btn-color-4:hover,
a.btn.btn-color-4:visited,
a.btn.btn-color-4:focus-visible {
  font-family: "Cairo", sans-serif !important;
  border-radius: 19px;
  color: #fff !important;
  background: #95c74d;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}
a.btn.btn-color-5,
a.btn.btn-color-5:active,
a.btn.btn-color-5:focus,
a.btn.btn-color-5:focus-within,
a.btn.btn-color-5:target,
a.btn.btn-color-5:hover,
a.btn.btn-color-5:visited,
a.btn.btn-color-5:focus-visible {
  font-family: "Cairo", sans-serif !important;
  border-radius: 19px;
  color: #fff !important;
  background: #0092a3;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}

form select.form-control {
  font-size: 14px !important;
  line-height: 21px !important;
  padding: 3px 12px;
}
.radios {
  display: flex;
}
.form-check {
  padding-left: 0;
}
.col-sm-1 {
  padding: 0 !important;
}
.card {
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(31 54 79 / 20%);
  margin-bottom: 40px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-header {
  font-family: "Cairo", sans-serif !important;
  padding: 8px 20px;
  margin-bottom: 0;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;

  color: #fff;
  text-align: left;
  text-shadow: none !important;
  font-weight: 500;
  display: flex;
  align-items: center;
}
/* //////////////////////////////// */
.card-header.color-1 {
  background: rgba(170, 31, 102, 0.8);
  border: 1px solid rgba(170, 31, 102, 0.1) !important;
}
.card-header.color-2 {
  background: rgba(243, 56, 61, 0.8);
  border: 1px solid rgba(243, 56, 61, 0.1) !important;
}
.card-header.color-3 {
  background: rgba(252, 202, 62, 0.8);
  border: 1px solid rgba(252, 202, 62, 0.1) !important;
}
.card-header.color-4 {
  background: rgba(149, 199, 77, 0.8);
  border: 1px solid rgba(149, 199, 77, 0.1) !important;
}
.card-header.color-5 {
  background: rgba(0, 146, 163, 0.8);
  border: 1px solid rgba(0, 146, 163, 0.1) !important;
}
/* //////////////////////////////// */
.card-body {
  display: flex;
  padding: 20px 0px;
  text-align: right;
}
p.card-text {
  font-family: "Cairo", sans-serif !important;
  color: #9a9a9a;
  font-size: 15px;
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.nav-pagination {
  box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
}
ul.pagination {
  padding: 0;
}
.pagination > li {
  border: unset;
  border-radius: 2px !important;
  background: transparent !important;
  margin-top: 0px !important;
}
.pagination > li > a {
  font-weight: 500;
  color: #96c453 !important;
  /* background: rgba(150, 196, 83, 0.8) !important; */
  background: #fff !important;
  border: 1px solid #96c453;
}
.pagination > li > a:hover,
.pagination > li > a:hover span {
  background: #96c453 !important;
  color: #fff !important;
}
a.page-link span {
  color: #96c453 !important;
}
.dtopiatitle {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin: 0px 9px;
}
label.title {
  width: 131px;
  font-size: 14px;
  border-left: 1px solid #9a9a9a;
  margin-left: 5px;
}
label.val {
  font-size: 14px;
}

.Indiv {
  background: #fff;
  box-shadow: 0 8px 32px 0 rgb(52 58 64 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: unset;
  border-radius: 10px;
}
textarea {
  resize: none;
}
.form-control {
  text-align: left;
}
@media (max-width: 992px) {
  .container-fluid {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    padding: 0 12px !important;
  }
}
