<h4 id="h4-title">Change Password</h4>
<div class="container-fluid">
 <!-- Begin:: Sidebar -->
   
 <app-user-side-bar>
        
 </app-user-side-bar>

 <!-- End::   Sidebar -->

    <div id="rows" class="rows">
        <div class="offset-lg-4 offset-md-4 col-sm-4">
            <form style="width: 21rem;">
                <div class="text-center" style="margin-bottom: 20px;">
                    <img src="assets/images/D-Topia-2.svg" alt="logo" width="60px" height="60px">
                </div>
                <!-- Current Password -->
                <div class="form-group">
                    <input type="password" class="form-control" id="currentPasswordInput">
                    <label class="control-label" for="currentPasswordInput">Current Password</label>
                </div>
                <!-- New Password -->
                <div class="form-group">
                    <input type="password" class="form-control" id="newPasswordInput">
                    <label class="control-label" for="newPasswordInput">New Password</label>
                </div>
                <!-- Confirm Password -->
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmPasswordInput">
                    <label class="control-label" for="confirmPasswordInput">Confirm Password</label>
                </div>
                <!-- Input:: Submit -->
                <div class="form-group" style="margin-top: 15px;margin-bottom: 20px;">
                    <button type="button" class="btn btn-primary"> Save </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row get-connected">
        <span>Get connected with us:</span> <a href="#"> <i class="fab fa-facebook-f fa-1x ml-4"></i> </a>
    </div>
    <div class="row help">
        <div class="col-lg-6 text-right">
            <span>Help: </span>
            <a href="#" class="fs-14">Info@Dtopia-eg.com</a>
        </div>
        <div class="col-lg-6 text-left">
            <span>Designed By: </span>
            <a href="#" class="fs-14">HashDotSoft</a>
        </div>
    </div>
    <div class="row copyright">
        © 2022, All Rights reserved
    </div>
</footer>