<div class="container-fluid bg-dark">
  <h3 class="text-center text-light mb-0 py-3" style="font-size: 1.5rem ;">indexation</h3>
  <div class="row justify-content-center">
    <div class="col-md-2 col-3">
      <a class="btn btn-secondary text-black-50 hover text-black-50 float-right" role="button">Back</a>
    </div>
    <div class="col-md-4 col-6">
      <div class="container">
        <ul class="pagination">
          <li class="mt-3">
            <a>1<span class="sr-only"></span></a>
          </li>
          <li class="active mt-3"><a>2</a></li>
          <li class="mt-3"><a>3</a></li>
          <li class="mt-3"><a>4</a></li>

          <!-- <li active>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-2 col-3">
      <!-- <input type="button" class="btn btn-secondary text-black-30 hover text-black-30 mt-4" style="width: 20px;" value="Next" (click)="goToNextSteps()"> -->
      <a class="btn btn-secondary text-black-50 hover text-black-50 " role="button" (click)="getSecondStepData()">Next
      </a>
    </div>
  </div>
  <br />
</div>

<h3 class="text-center" style="background-color: #9dc15b; color: white">
  أسماء الفراغات والأبعاد
</h3>

<div class="row justify-content-center align-items-center">
  <div style="width: 530px" class="alert alert-dark" role="alert">
    <!-- <h4
      style="text-align: right; text-decoration: underline"
      class="alert-heading"
    >
      ملاحظات عامة
    </h4> -->

    <ul style="text-align: right">
      <li style="font-size: medium; text-align: right">
        يجب كتابة الأرقام باللغة الانجليزية
        <i class="fas fa-circle ml-3"></i>
      </li>
      <li style="font-size: medium; text-align: right">
        كتابة الأبعاد بالمتر (م)
        <i class="fas fa-circle ml-3"></i>
      </li>
      <!-- <li style="font-size: medium; text-align: right">
        بعد الانتهاء من المقايسة، يمكن التعديل عليها بداية من خطوة رقم 3 فقط<i
          class="fas fa-circle ml-3"
        ></i>
      </li> -->
    </ul>

    <p class="mb-0"></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- <div class="commercial float-left" style="width: 180px; height: 150px">
        <h4>Commercials</h4>
        <img
          src="assets/images/commercial-wallpaper-10.jpg"
          alt=""
          width="180"
          height="150"
        />
      </div> -->
    </div>

    <div class="col-lg-6 all-accordionsPage2">
      <form [formGroup]="myForm">
        <div class="accordion-2" *ngFor="let RSID of RealSID; let i = index">
          <button class="btn btn main-accordion second-page" type="button" data-toggle="collapse"
            attr.data-target="#collapseExample{{ i + 1 }}" aria-expanded="false" aria-controls="collapseExample">
            Space {{ i + 1 }} for {{ RSID.siteItemName }}
          </button>
          <div class="collapse" id="collapseExample{{ i + 1 }}">
            <div class="card card-body">
              <div class="row mb-2">
                <div class="space-namePage-2 ml-3">
                  <p>Space Name</p>
                  <input type="text" maxlength="200" [formControlName]="'N' + '_' + (i + 1)" />
                </div>
                <div class="spaces-secondPage d-flex">
                  <div class="d-flex ml-3">
                    <p>Length</p>
                    <input type="text" maxlength="5" [formControlName]="'L' + '_' + (i + 1)" />
                  </div>
                  <div class="d-flex ml-3">
                    <p>width</p>
                    <input type="text" maxlength="5" [formControlName]="'W' + '_' + (i + 1)" />
                  </div>
                  <div class="d-flex ml-3">
                    <p>Height</p>
                    <input type="text" maxlength="5" [formControlName]="'H' + '_' + (i + 1)" />
                  </div>
                </div>
              </div>
              <hr />
              <div>
                <p style="text-align: center">
                  <b>Window Number</b>
                  <!-- <input type="text" maxlength="1" (ngModelChange)="CreateWindowNumber($event)" [formControlName]="'WN'+'_'+(i+1)" style="width: 300px;">
                                    <button type="button"><i class="fa">Add</i></button> -->
                </p>
              </div>

              <div class="row windowOne">
                <div class="col-3">
                  <!-- <p style="margin-top: 40px;">Window 1 </p> -->
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <p class="windowHeight" style="display: inline-block">
                    Width
                  </p>
                  <!-- <input class="windowOneHeight" type="text"> -->
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <p class="windowHeight" style="display: inline-block">
                    Height
                  </p>
                  <!-- <input class="windowOneHeight" type="text"> -->
                  <div class="col-1"></div>
                </div>
              </div>

              <div class="row windowOne" *ngFor="let num of counter(5); let c = index">
                <div class="col-3">
                  <p>Window {{ c + 1 }}</p>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <input class="windowOneHeight" maxlength="7" type="text"
                    [formControlName]="'WNH' + (c + 1) + '_' + (i + 1)" [value]="0" />
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <input class="windowOneHeight" maxlength="7" type="text"
                    [formControlName]="'WNL' + (c + 1) + '_' + (i + 1)" [value]="0" />
                  <div class="col-1"></div>
                </div>
              </div>
              <hr />
              <!--------------------------------------->
              <div>
                <p style="text-align: center">
                  <b>Door Number</b>
                </p>
                <!-- <input type="text" maxlength="1" [formControlName]="'DN'+'_'+(i+1)" style="width: 300px;">
                                    <button type="button"><i class="fa">Add</i></button> -->
              </div>

              <div class="row windowOne">
                <div class="col-3">
                  <!-- <p style="margin-top: 40px;">Door 1 </p> -->
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <p class="windowHeight" style="display: inline-block">
                    Width
                  </p>
                  <!-- <input class="windowOneHeight" type="text"> -->
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <p class="windowHeight" style="display: inline-block">
                    Height
                  </p>
                  <!-- <input class="windowOneHeight" type="text"> -->
                  <div class="col-1"></div>
                </div>
              </div>

              <div class="row windowOne" *ngFor="let num of counter(3); let c = index">
                <div class="col-3">
                  <p>Door {{ c + 1 }}</p>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <input class="windowOneHeight" type="text" [formControlName]="'DNH' + (c + 1) + '_' + (i + 1)"
                    [value]="0" />
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <input class="windowOneHeight" type="text" [formControlName]="'DNL' + (c + 1) + '_' + (i + 1)"
                    [value]="0" />
                  <div class="col-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-3">
      <!-- <div class="commercial" style="float: right; width: 180px; height: 150px">
        <h4>Commercials</h4>
        <img
          src="assets/images/commercial-wallpaper-10.jpg"
          alt=""
          width="180"
          height="150"
        />
      </div> -->
    </div>
  </div>
</div>

<!--accordion ends here-->
<br />

<!-----------------------------------------------------table end------------->
<h4 class="text-center" style="color: white; background-color: #9dc15b">
  حالة الموقع
</h4>

<form [formGroup]="fixForm">
  <table align="center">
    <tr>
      <td *ngFor="let P of PS">
        <input type="radio" formControlName="cProjectStatus" name="cProjectStatus" [value]="P.projectStatusID" />
        <b>{{ P.projectStatusName }}</b>
      </td>
    </tr>
  </table>

  <!----------------------------------------------------------------------------------------->
  <h4 class="text-center" style="color: white; background-color: #9dc15b">
    الإشراف
    <span> ({{ strSupervisionValue }}{{ strSupervisionType }}) </span>
  </h4>

  <div class="container">
    <div class="row">
      <!-- <div class="col-4"></div> -->
      <div class="col-12">
        <!-- <form class="text-center" action="/action_page.php">       -->
        <table align="center">
          <tr>
            <td>
              <input type="radio" formControlName="cEngSupervision" name="cEngSupervision" value="1" />
              <b>يشمل</b>
            </td>
            <td>
              <input type="radio" formControlName="cEngSupervision" name="cEngSupervision" value="0" />
              <b>لا يشمل</b>
            </td>
          </tr>
        </table>
      </div>
      <!-- <div class="col-4"></div> -->
    </div>
  </div>
</form>

<app-mat-spinner-overlay [overlay]="Loading"> </app-mat-spinner-overlay>