<h4 class="text-center" style="color: white; background-color: #343a40">
  Main-Sponsers
</h4>
<div class="container main-Sponsers mb-2">
  <div class="row">
    <div class="col-lg-2 sponsers-left">
      <!-- <div class="commercial float-left" style="height: 70px;">
                <h4>Commercials</h4>
                <img src="assets/images/commercial-wallpaper-10.jpg" alt="" width="180" height="70">
            </div> -->
    </div>
    <div class="col-lg-8 sponsers-main">
      <div class="sponsers-details">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 sponsers-right">
      <!-- <div class="commercial float-right" style="height: 70px;">
                <h4>Commercials</h4>
                <img src="assets/images/commercial-wallpaper-10.jpg" alt="" width="180" height="70">
            </div> -->
    </div>
  </div>
</div>

<br />
