<div class="container-fluid bg-dark">
    <h5 class="text-center text-light mb-0">indexation</h5>
    <div class="row">
        <div class="col-2 "></div>
        <div class="col-2 ">
            <a class="btn btn-secondary text-black-50 hover text-black-50 float-right mt-4" href="#"
                role="button">Back</a>
        </div>
        <div class="col-4 ">
            <div class="container">
                <ul class="pagination">
                    <li routerLinkActive="active"><a routerLink="StepOne">1</a></li>
                    <li routerLinkActive="active"><a routerLink="StepTwo">2</a></li>
                    <li routerLinkActive="active"><a routerLink="StepThree">3</a></li>
                    <li routerLinkActive="active"><a routerLink="StepFour">4</a></li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <!-- <input type="button" class="btn btn-secondary text-black-30 hover text-black-30 mt-4" style="width: 20px;" value="Next" (click)="goToNextSteps()"> -->
            <a class="btn btn-secondary text-black-50 hover text-black-50 mt-4" role="button">Next </a>
        </div>
        <div class="col-2 "></div>
    </div><br>
  </div>