<div class="container-fluid main-Sponsers">
  <div class="row">
    <div class="col-lg-2 sponsers-left">
      <!-- <div class="commercial float-left" style="height: 150px; width: 180px;">
                <h4>Commercials</h4>
                <img src="assets/images/commercial-wallpaper-10.jpg" alt="" width="180" height="150">
            </div> -->
    </div>
    <div class="col-lg-8 sponsers-main">
      <h2 class="text-center">Main-Sponsers</h2>
      <div class="sponsers-details">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 sponsers-right">
      <!-- <div class="commercial float-right" style="height: 150px; width: 180px;">
                <h4>Commercials</h4>
                <img src="assets/images/commercial-wallpaper-10.jpg" alt="" width="180" height="150">
            </div> -->
    </div>
  </div>
</div>
