<h4 id="h4-title">Upload Your Image</h4>
<div>

  <div id="rows" class="rows">
    <div class="offset-lg-2 offset-md-2 col-xl-8 col-lg-9 col-md-11 col-sm-10 c0l-11 brd m-auto">
      <div class="row row-flex">
        <form>
          <div class="col-md-6" style="padding-left: 0;padding-right: 7px;">
            <!-- Begin:: widget -->
            <div class="widget">
              <!-- <div class="widget-heading">
                              <h3 class="widget-title">Flippers</h3>
                            </div> -->
              <div class="widget-body">
                <div class="thumbnail">
                  <img src="assets/images/interior-design-1.jpg" alt="...">
                </div>
                <div class="row btn-demo animation-demo">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-primary mb-sm-0 mb-2">Add
                      Image</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-danger">Remove Image</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End::   widget -->
            <!-- Begin:: widget -->
            <div class="widget">
              <!-- <div class="widget-heading">
                              <h3 class="widget-title">Flippers</h3>
                            </div> -->
              <div class="widget-body">
                <div class="thumbnail">
                  <img src="assets/images/interior-design-1.jpg" alt="...">
                </div>
                <div class="row btn-demo animation-demo">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-primary mb-sm-0 mb-2">Add
                      Image</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-danger">Remove Image</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End::   widget -->
          </div>
          <div class="col-md-6" style="padding-right: 0;padding-left: 8px;">
            <!-- Begin:: widget -->
            <div class="widget">
              <!-- <div class="widget-heading">
                              <h3 class="widget-title">Flippers</h3>
                            </div> -->
              <div class="widget-body">
                <div class="thumbnail">
                  <img src="assets/images/interior-design-1.jpg" alt="...">
                </div>
                <div class="row btn-demo animation-demo">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-primary mb-sm-0 mb-2">Add
                      Image</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-danger">Remove Image</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End::   widget -->
            <!-- Begin:: widget -->
            <div class="widget">
              <!-- <div class="widget-heading">
                              <h3 class="widget-title">Flippers</h3>
                            </div> -->
              <div class="widget-body">
                <div class="thumbnail">
                  <img src="assets/images/interior-design-1.jpg" alt="...">
                </div>
                <div class="row btn-demo animation-demo">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-primary mb-sm-0 mb-2">Add
                      Image</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-sm btn-block btn-outline btn-danger">Remove Image</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End::   widget -->
            <!-- Input:: Submit -->
            <div class="form-group row">
              <div class="col-sm-12" style="padding: 0px;">
                <button type="button" class="btn btn-primary"> Save </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>