<!-- <section>
  <div class="checkAccount">
    <div class="text-center m-auto">
      <i class="far fa-check-circle"></i>
    </div>

    <div class="click-account">
      <h3 class="text-center" style="font-size: 20px; line-height: 33px">
        Your Account has been Created Successfully.
        <br />
        Check your email for Username and Password. if it doesn't appear within
        a few minutes, check your spam or junk folder
        <br />
        Click (<a routerLink="/Auth/Login"> Here </a>) To Login to your account.
      </h3>
    </div>
  </div>
</section>
 -->


<h4>Active</h4>
<div class="container-fluid d-flex align-items-center">

  <div class="row" style="margin-left: 0;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="display: flex !important; flex-direction: row;">
      <!-- Card -->
      <div class="col-sm-12">
        <div class="sweet-alert showSweetAlert visible" tabindex="-1" data-has-cancel-button="false"
          data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false"
          data-timer="null">

          <!-- Begin:: Success -->
          <!-- <div class="icon success animate" style="display: block;">
                         <span class="line tip animateSuccessTip"></span>
                         <span class="line long animateSuccessLong"></span>
                         <div class="placeholder"></div>
                         <div class="fix"></div>
                     </div>  -->
          <div class="icon custom" style="display: none;"></div>
          <h2 class="h2-sweet-success">
            Your Account has been Created Successfully.
          </h2>

          <h2 class="h2-sweet-success">
            Check your email for Username and Password. if it doesn't appear within
            a few minutes, check your spam or junk folder
          </h2>

          <h2 class="h2-sweet-success">
            Click (<a routerLink="/Auth/Login"> Here </a>) To Login to your account.
          </h2>
          <!-- End::   Success -->


          <!-- Begin:: Error -->
          <!-- <div class="icon error" style="display: block;">
                         <span class="x-mark">
                             <span class="line left"></span>
                             <span class="line right"></span>
                         </span>
                     </div>
                     <h2 class="h2-sweet-error">Error</h2> -->
          <!-- End::   Error -->


          <!-- Begin:: Warning -->
          <!-- <div class="icon warning pulseWarning" style="display: block;">
                         <span class="body pulseWarningIns"></span>
                         <span class="dot pulseWarningIns"></span>
                     </div>
                     <div class="icon custom" style="display: none;"></div>
                     <h2 class="h2-sweet-warning">Warning</h2> -->
          <!-- End::   Warning -->


          <!-- Begin:: Info -->
          <!-- <div class="icon info" style="display: block;"></div>
                         <h2 class="h2-sweet-info">Info</h2> -->
          <!-- End::   Info -->
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>