<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
    
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="row">
        <div class="col-lg-4 col-sm-12 left-child-option">
          <h3 id="child1">Our Options</h3>
          <div class="row options">
            <div class="col-sm-6">
              <a routerLink="/Indexation">
                <img
                  class="option-img"
                  src="assets/images/indexation.jpeg"
                  alt=""
                  width="130px"
                  height="130px"
              /></a>
              <h3>Indexation</h3>
            </div>
            <div class="col-sm-6">
              <img
                class="option-img"
                src="assets/images/Contract Gurantee.jpeg"
                alt=""
                width="130px"
                height="130px"
                style="opacity: 30%"
              />
              <h3>Design Offer</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-8 right-child-option">
          <h3 id="child2">Our Services</h3>
          <div class="row services">
            <div class="col-md-3 col-sm-6">
              <img
                class="option-img"
                src="assets/images/Designers.jpeg"
                alt=""
                width="130px"
                height="130px"
                style="opacity: 30%"
              />
              <h3>Designers</h3>
            </div>
            <div class="col-md-3 col-sm-6">
              <img
                class="option-img"
                src="assets/images/Finishing.jpeg"
                alt=""
                width="130px"
                height="130px"
                style="opacity: 30%"
              />
              <h3>Finishing</h3>
            </div>
            <div class="col-md-3 col-sm-6">
              <img
                class="option-img"
                src="assets/images/Furniture.jpeg"
                alt=""
                width="130px"
                height="130px"
                style="opacity: 30%"
              />
              <h3>Furniture</h3>
            </div>
            <div class="col-md-3 col-sm-6">
              <img
                class="option-img"
                src="assets/images/Workers.jpeg"
                alt=""
                width="130px"
                height="130px"
                style="opacity: 30%"
              />
              <h3>Workers</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
    
    </div>
  </div>
</div> -->


<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3">
         
      </div>
      <div class="col-lg-6 col-sm-12" style="padding: 0px;">
          <div class="row">
            
              <div class="col-lg-6 col-sm-12 left-child-option shadows">
                  <h3 id="child1">Our Options</h3>
                  <div class="row options">
                      <div class="col-sm-6 f-lex">
                          <a routerLink="/Indexation/StepOne">
                              <img class="option-img" src="assets/images/indexation.jpeg" alt="" width="130px"
                                  height="130px"></a>
                          <h3>Indexation</h3>
                      </div>
                      <div class="col-sm-6 f-lex">
                          <a routerLink="/DesignOffer/DOStepOne">
                              <!-- <img class="option-img" src="images/Contract Gurantee.jpeg" alt="" width="130px" height="130px" style="opacity: 30%;"> -->
                              <img class="option-img" src="assets/images/Contract Gurantee.jpeg" alt="" width="130px" height="130px">
                              <h3>Design Offer</h3>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-1"></div>

              <div class="col-lg-5 right-child-option shadows">
                  <h3 id="child2">Our Services</h3>
                  <div class="row services">

                    <div class="col-12 f-lex">
                      <a>
                          <img class="option-img" src="assets/images/store.jpeg" alt="" width="130px" height="130px">
                          <h3 class="text-center">D-Topia Store</h3>
                      </a>
                    </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="col-lg-3">
         
      </div>
  </div>
</div><br>
