:root {
  --text-main-color: #1071B8;
  --bg-main-color: #1071B8;
  --text-secondary-color: #FF375E;
  --bg-secondary-color: #8c95a342;
  --text-second-color: #cdf0ff;
  --bg-second-color: #cdf0ff;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9C9C9C;
  --bg-input-color: #F2F7FA;
  --border-input-color: #F2F7FA;
  --text-desc-color: #8C95A3;
  --light-blue: #1071b821;
  --semi-light:#77a23b21;
  --light-warning:#f9bc6121;
  --light-pink:#f370701a;
  --semi-light-warning:#f2ca5a21;
  --light-green:#3ba28321;
  --bg-light-danger:#e5555530;
  --bg-light-gray:#8c95a330;
  --text-danger-color:#E55555;

  --border-input-radius: 0.813rem;
  --border-radius-card:13px;
  --main-border-radius-shape:13px;
  --border-color:#8c95a399;
  --card-border-color:#8c95a336;
  --box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
